.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form > div > label {
  font-weight: 700;
  margin: 1rem 0;
  display: block;
}
.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 570px) {
  .form {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .form > div > input {
    width: 95%;
    font-size: 14px;
  }
  .primary {
    width: 100%;
  }
}
